<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TEST</title>
</head>

<body>

  <div id="grabber"></div>

  <script>

    (() => {

      let authors = {};

      fetch("/stream")
        .then(async response => {
          const reader = await response.body.getReader();
          let lines = [];
          function process() {
            reader.read().then(({ value, done }) => {
              if (done) {
                console.log(lines);
                return;
              }
              const text = new TextDecoder().decode(value);
              console.log(text);
              lines.push(...text.match(/[^\r\n]+/g));
              process();
            });
          }
          process();
        })

    })();

  </script>

</body>

</html>